.contact {
    background-color: var(--light-green);
}

.contact .container {
    max-width: 50%;
    padding: 50px 0;
}

.contact h2 {
    font-size: 5rem;
    color: var(--dark-green);
    text-shadow: 0 0 5px rgba(88, 129, 87, 1);
}

.contact .line {
    width: 2px;
    height: 250px;
    background-color: var(--dark-green);
    box-shadow: 0 0 5px rgba(88, 129, 87, .5);
}

.contact .socials {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact .socials a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--black);
}

.contact .socials a:hover {
    color: var(--light-red);
}

.contact .socials i {
    margin-right: 5px;
}



@media (max-width: 1450px) {
    .contact .container {
        max-width: 60%;
    }

    .contact h2 {
        font-size: 4rem;
    }
}

@media (max-width: 1100px) {
    .contact .container {
        max-width: 80%;
    }

    .contact h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 850px) {
    .contact .container {
        max-width: 90%;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0;
    }

    .contact h2 {
        font-size: 3rem;
    }

    .contact .line {
        height: 1px;
        width: 100%;
    }
}