@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: #f4f4f4;
  --black: #171717;
  --gray: #5b5b5b;
  --light-green : #f4f6e6;
  --green: #588157;
  --dark-green: #344e41;
  --light-red: #e16464;
}

body {
  font-family: "Poppins";
  background-color: var(--light-green);
}

.container {
  max-width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  width: fit-content;
  padding: 5px 10px;
  font-size: 3rem;
  font-weight: 600;
  color: var(--light-green);
  box-shadow: 0 0 8px rgba(88, 129, 87, .8);
  background-color: var(--green);
  text-align: center;
  border-radius: 5px;
}

.padding {
  padding: 50px 0;
}


/******************************/

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: hsl(150 20% 25% / 0.4);
}

::-webkit-scrollbar-thumb {
  background: hsl(150 20% 25% / 0.4);
  border: 0.15em solid hsl(0 0% 96% / 1);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0 0% 96% / 1);
}


@media (max-width: 850px) {
  .title {
    margin: auto;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  .container {
    width: 90%;
  }
}